# System files
.DS_Store
Thumbs.db

# Development artifacts
__pycache__/
*.egg-info/
dist/
build/
docs/_build/
instance/
.pytest_cache/
.coverage
*.log

# Virtual environments
env/
env.bak/
venv/
venv.bak/
ENV/
ENV.bak/
.env/
.env.bak/
.venv/
.venv.bak/

# Tools and editor settings
.vscode/
.cspell/

# Program files
config.toml
static/
