ascii_magic==2.3.0
img2unicode==0.1a11
InquirerPy==0.3.4
lxml==4.9.4
pandarallel==1.6.5
pandas==2.2.3
platformdirs==4.3.6
python-decouple==3.8
Requests==2.32.3
rich==13.9.4
tmdbv3api==1.7.7
tomli==2.2.1
tqdm==4.65.2